@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

body {
    background-color: #090f31;
    margin: 0;
    padding: 0;
}

li {
    color: white;
    font-weight: bolder;
}

p {
    color: white;
    margin: 0;
}

.TopNavBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    height: 4rem;
    z-index: 1;
    padding: 0 2%;
    max-width: 100%;
    z-index: 5;
}

.NavbarIcon {
    max-width: 7rem;
}

.TopNavBar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.TopNavBar ul li {
    margin: 0 0.5rem;
    font-size: 1.3rem;
}

.TopNavBar ul li a:active {
    outline: none;
}

.NavbarButtons li a {
    font-size: 1rem;
    background-size: 2.5rem;
    background-color: transparent;
    padding: 0.5rem;
    border-radius: 0.3rem;
    opacity: 0.5;
    font-family: 'Poppins';
    transition: opacity 0.5s;
}

.NavbarButtons li a:hover {
    opacity: 1;
    outline: 1px solid rgb(65, 113, 196);
}

/* Media query for small screens */
@media (max-width: 767px) {
    .TopNavBar ul {
        flex-direction: column;
    }
}

.HeaderPage {
    position: relative;
    background-color: #090f31;
}

.About {
    text-align: center;
    font-family: 'Poppins';
    width: 100%;
    min-height: 65vh;
}

.Title {
    font-weight: bolder;
    font-size: 2.5rem;
}

.Description {
    opacity: 0.5;
    transform: translate(0%, 20%);
    font-size: 1.5rem;
    line-height: 2rem;
}

.TitleGlow {
    background-color: #ffae00;
    position: absolute;
    top: 5%;
    left: 43%;
    width: 15%;
    height: 20%;
    transform: translate(50%, 50%);
    opacity: 30%;
    border-radius: 50rem;
    backface-visibility: visible;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    filter: blur(3rem);
    animation-name: colorChange;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    z-index: 1;
}

@keyframes colorChange {
    0% {
        background-color: #00bbff;
    }
    50% {
        background-color: #237694;
    }
    100% {
        background-color: #00bbff;
    }
}